{
    "CompileFlags": {
        "CompilationDatabase": ".vscode"
    },
    "Diagnostics": {
        "Suppress": [],
        "ClangTidy": {
            "Add": [],
            "Remove": [],
            "FastCheckFilter": "Strict"
        }
    }
}