{
    "CompileFlags": {
        "CompilationDatabase": ".vscode"
    },
    "Diagnostics": {
        "Suppress": ["unused-includes"],
        "ClangTidy": {
            "Add": [],
            "Remove": ["misc-definitions-in-headers"],
            "FastCheckFilter": "Strict"
        }
    }
}